@tailwind base;
@tailwind components;
@tailwind utilities;
html.dark {
  background-color: #1a202c;
}
.heading{text-align: center;
     
     display: grid;
     font-size: 6pc;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-image: url(https://wallpaperaccess.com/full/120621.jpg);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 5900005454;}
     